@import url(http://fonts.googleapis.com/css?family=Podkova:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import 'variables.less';
@import 'mixins.less';
@import 'buttons.less';
@import 'forms.less';

// CORES
@pomegranate: #C0392B;
@silver     : #BDC3C7;
@cinzaLogo  : #7F8C8D;
@white      : #FFFFFF;

// Fontes
@podkova: 'Podkova', serif;
@openSans: 'Open Sans', sans-serif;

// Tamanho das fontes
@h1Apresentacao: 40px;
@textApresentacao: 18px;

@xsh1Apresentacao: 25px;
@xsTextApresentacao: 13px;

@smh1Apresentacao: 35px;
@smTextApresentacao: 20px;

@menuFontSize: 13px;
@servicosIconeFontSize: 48px;

// medidas fixas
@iconeWidth: 80px;
@servicosIconePaddingHoriz: (@iconeWidth - @servicosIconeFontSize) / 2;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height:100%;
}

body {
  color: @pomegranate;
  font-size: 18px;
  font-family: @openSans;
}

textarea {
  resize: none;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.logo {
  display: block;

  * {
    color: @cinzaLogo;
    font-family: @podkova;
    margin: 0;
    padding: 0;
  }

  .name {
    float: left;
    font-size: 60px;
    font-weight: 700;
    padding-right: 20px;

    &:first-letter {
      color: @pomegranate;
    }
  }

  .sub {
    float: left;
    font-size: 12px;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 25px;
  }

  &.visible-md.visible-lg {
    .name {
      border-right: 1px solid @pomegranate;
    }
  }

  &.visible-xs.visible-sm {
    .sub {
      float: none;
    }
  }
}

.pomegranate {
  color: @pomegranate;
}

#container {
  min-height: 100%;
  position: relative;
  
  // sobresecrevendo estilos do twitter bootstrap
  .navbar {
    // border: none;
    
    .navbar-header {
      .navbar-brand {
        height: auto;
      }

      .navbar-toggle {
        border-color: @pomegranate;
        margin-top: 32px;

        .icon-bar {
          background-color: @pomegranate;
        }

        &:hover,
        &:active,
        &:visited,
        &:focus {
          background-color: @pomegranate;

          .icon-bar {
            background-color: @white;
          }
        }
      }
    }

    .navbar-collapse {
      .navbar-nav {
        &.hidden-xs {
          margin-top: 30px;
          margin-right: 35px !important;
          padding: 0;

          li {
            text-transform: uppercase;

            a {
              color: @pomegranate;
              font-size: @menuFontSize;
              font-weight: 600;
              margin: 0 5px;
              padding: 6px 11px;
              text-decoration: none;
              text-transform: uppercase;
            }

            &.active,
            &:active,
            &:focus,
            &:hover {
              a {
                color: @white;
                background-color: @pomegranate;
              }
            }
    
            &:first-child a {
              margin-left: 0;
            }

            &:last-child a {
              margin-right: 0;
            }
          }
        }

        &.hidden-lg.hidden-md.hidden-sm {
          li {
            &> a {
              color: @pomegranate;
              text-transform: uppercase;
            }

            &:hover,
            &:focus,
            &:active,
            &.active {
              &> a {
                background-color: @pomegranate;
                color: @white;
              }
            }
          }
        }
      }
    }
  }

  .header {
    .logo, .menu {
      margin-top: 15px;
    }

    .menu {
      float: right;

      ul {
        list-style-type: none;
        margin: 2px 0 0 0;
        padding: 0;

        li {
          display: inline-block;
          font-size: 18px;
          text-transform: uppercase;

          a {
            color: @pomegranate;
            font-size: @menuFontSize;
            font-weight: 600;
            padding: 6px 11px;
            text-transform: uppercase;
            text-decoration: none;
            
            &.active,
            &:active,
            &:focus,
            &:hover {
              background-color: @pomegranate;
              color: @white;
            }
          }
        }
      }
    }
  }
  
  .contato,
  .clientes,
  .servicos {
    margin-top: 30px;

    .row {
      padding-top: 20px;

      &>div {
        min-height: 160px;
      }
    }

    .icone {
      border: 1px solid @pomegranate;
      border-radius: 50%;
      display: inline-block;
      padding: @servicosIconePaddingHoriz 0;
      width: @iconeWidth;

      .fa {
        font-size: @servicosIconeFontSize;
      }
    }

    .descricao {
      padding: 15px 0;
      text-transform: uppercase;
    }

    p.uppercase {
      margin-top: 15px;
    }

    p.uppercase ~ p {
      font-size: 16px;
    }

    .img-responsive.cliente-logo {
      min-height: 65px;
    }
  }

  .clientes,
  .servicos {
    .row {
      &>div {
        margin: 20px 0;
      }
    }
  }

  .contato {
    .row {
      padding-top: 20px;

      .column-aside:first-child {
        margin-top: 0px;
        margin-bottom: 5px;

        .row {
          padding-top: 0;
        }
      }
    }

    .formulario-de-contato {
      .control-label {
        font-weight: inherit;
      }
    }
  }

  .rodape {
    bottom: 0;
    position: absolute;
    width: 100%;

    .copyright {
      font-size: 12px;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .apresentacao {
    padding-bottom: 50px;
    font-size: @xsTextApresentacao;
    font-weight: 500;
    line-height: 24px;

    h1 {
      font-size: @xsh1Apresentacao;
      margin: 15px 0;
      padding: 0;
      text-transform: uppercase;
    }
  
    &.text-center {
      margin-top: 30px;
    }

    &.quem-somos {
      margin-top: 11px;
    }
  }

  .contato {
    .row {
      .column-aside:last-child {
        border-top: 1px solid #e7e7e7;
        padding-top: 20px;
      }
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .apresentacao {
    padding-bottom: 50px;
    font-size: @smTextApresentacao;
    line-height: 24px;

    h1 {
      font-size: @smh1Apresentacao;
      margin: 15px 0;
      padding: 0;
      text-transform: uppercase;
    }
  
    &.text-center {
      margin-top: 130px;
    }

    &.quem-somos {
      margin-top: 50px;
    }
  }

  .contato {
    .row {
      .column-aside:last-child {
        border-top: 1px solid #e7e7e7;
        padding-top: 20px;
      }
    }
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .apresentacao {
    padding-bottom: 50px;
    font-size: @textApresentacao;
    font-weight: 500;
    line-height: 24px;

    h1 {
      font-size: @h1Apresentacao;
      margin: 15px 0;
      padding: 0;
      text-transform: uppercase;
    }
  
    &.text-center {
      margin-top: 130px;
    }

    &.quem-somos {
      margin-top: 50px;
    }
  }
}

@media (min-width: @screen-lg-min) {
  .apresentacao {
    padding-bottom: 50px;
    font-size: @textApresentacao;
    font-weight: 500;
    line-height: 24px;

    h1 {
      font-size: @h1Apresentacao;
      margin: 15px 0;
      padding: 0;
      text-transform: uppercase;
    }
  
    &.text-center {
      margin-top: 130px;
    }

    &.quem-somos {
      margin-top: 50px;
    }
  }
}