    <div class="clearfix"></div>

    <div class="rodape">
      <div class="pull-right copyright">
        &copy; <span id="year"></span> - J-IT - Information Technology Just in Time. Todos os direitos reservados.
      </div>

      <div class="pull-left">
        <a title="Encontre-nos no Facebook" class="facebook-link" href="https://www.facebook.com/jitinfosolucoes?fref=ts">
          <i class="fa fa-facebook"></i>
          <span>Encontre-nos no Facebook</span>
        </a>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="build/vendor/jquery/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="build/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="build/js/jit-info.min.js"></script>
</body>
</html>